* {font: 15px "Comic Sans MS";}
MyCustomizeTag {
    display: block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    width: 500px; 
}
div {
    background-color: yellow;
    margin: 10px 10px 20px 20px;
    width: 500px;
}
.GroupFormat {
    font-weight: bold;
    color: #f00;
    width: 400px;
}
#TheHighestPriority {
    background-color: #000;
    font-weight: none;
    font: italic 30px "Times New Roman";
    color: #fff;
}