.PictureDetails {display: none;}
.Picture img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #aaa;
}
.PictureName {font-weight: bold;}
.Picture {
    text-align: center;
    width: 150px;
    margin: 0px 20px;
    float: left;
    cursor: pointer;
}
.Picture:hover .PictureDetails {display: block;}