#header {
  background: url(header.jpg);
  height: 181px;
  width: 900px;
  margin: 0 auto;
}

#logo {
  padding: 20px 0 0 50px;
}

#menu_top {
  margin-top: 55px;
  margin-left: 30px;
  background: #ffffff;
  height: 40px;
  opacity: 0.6;
  border-radius: 10px 0 0 10px;
}

.level1 {
  list-style-type: none;
  padding-top: 12px;
  margin: 0;
}

.level1 li {
  display: inline;
  float: left;
  padding: 0 20px 0 0;
  height: 27px;
  font-weight: bold;
  position: relative;
}

.level1 li a,
.level1 li a:visited {
  color: red;
  text-decoration: none; 
}

.level1 li a:hover {
  color: green;
}

.level2 {
  display: none;
  position: absolute;
  padding: 0;
  margin-top: 5px;
}

.level1 li:hover > .level2 {
  display: block;
}

.level2 li {
  float: none;
  display: block;
  padding: 10px;
  background: #ccc;
}

.level2 li:hover {
  background: #cc0;
}
