body {
    font-family: Arial, sans-serif; 
    background-color: #f0f4f8;     
    margin: 0;
    padding: 0;
}


table {
    background-color: white;      
    border-collapse: collapse;     /*Gộp đường viền lại cho gọn */
    width: 350px;               
    margin: 100px auto;           
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Tạo bóng mờ cho bảng */
    border-radius: 10px;       
    overflow: hidden;             
}


td {
    padding: 10px;           
}


td:first-child {
    font-weight: bold;           
    color: #333;                
}

input[type="text"] {
    width: 100%;                 
    padding: 8px;                 
    border: 1px solid #ccc;       
    border-radius: 5px;          
    box-sizing: border-box;       
}


select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="button"], input[type="reset"] {
    padding: 8px 15px;           
    margin: 5px;                   
    border: none;                  
    border-radius: 5px;            
    background-color: #007BFF;     
    color: white;                  
    font-weight: bold;
    cursor: pointer;              
    transition: background-color 0.3s; 
}


input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;     
}


input[readonly] {
    background-color: #f7f7f7;       
    color: #333;
}
